<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/main.min.css' />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
