<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <script src="/javascripts/builder.js" type="text/javascript"></script>
</html>
