.object_type_star {

}
.object_color_blue {
  background-color: $sys_color_blue;
}
.object_color_bluewhite{
  background-color: $sys_color_bluewhite;
}
.object_color_white {
  background-color: $sys_color_white;
}
.object_color_yellowwhite {
  background-color: $sys_color_yellowwhite;
}
.object_color_yellow {
  background-color: $sys_color_yellow;
}
.object_color_lightorange {
  background-color: $sys_color_lightorange;
}
.object_color_orangered {
  background-color: $sys_color_orangered;
}
.object_color_grey {
  background-color: $sys_color_grey;
}
