@import 'common/_colors';
@import 'mainmenu';
@import 'systemview';
@import 'systemobjects';

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

}
a {
  color: blue;
}
