
$color_border: #fff;
$line_color: rgba(244,244,244,0.5);
$color_background: #fff;
$color_lightbackground: #fff2ff;
$color_blueprint: #0071BC;
$color_text: #fff;
$color_highlight: orange;

// systemObjects
$sys_color_blue: #097efb;
$sys_color_bluewhite: rgb(188, 216, 255);
$sys_color_white: #fff;
$sys_color_yellowwhite: #efe9d1;
$sys_color_yellow: #f7d43f;
$sys_color_lightorange: #f5b92e;
$sys_color_orangered: #f77c3f;
$sys_color_grey: rgb(128, 122, 124);

$sys_obj_colors: (
  "blue": #097efb,
  "bluewhite": rgb(188, 216, 255),
  "brown": rgb(131, 112, 30),
  "white": #fff,
  "yellowwhite": #efe9d1,
  "yellow": #f7d43f,
  "lightorange": #f5b92e,
  "orangered": #f77c3f,
  "grey": rgb(128, 122, 124),
  "greyblue": rgb(129, 131, 162),
  "lightgrey": rgb(179, 179, 182)
);

@mixin system-colors {
  @each $name, $color in $sys_obj_colors {
    .#{$name} {
      background-color: $color;
    }
  }
}

@include system-colors;

body {
  background-color: black;
  margin: 0;
}
li {
  list-style-type: none;
}
button {
  border: 3px white solid;
  background-color: grey;
  color: white;
  font-size: 1em;
  border-radius: 3px;
  padding: 0.5rem;
}

.selected_arrow::before {
  content: ">";
  position: absolute;
  margin-left: -100%;
  color: $color_highlight;
  height: 100%;
  display: block;
  top: 0;
  width: 50%;
}