$color_background: #fff;
$color_lightbackground: #fff2ff;

// systemObjects
$sys_color_blue: #097efb;
$sys_color_bluewhite: rgb(188, 216, 255);
$sys_color_white: #fff;
$sys_color_yellowwhite: #efe9d1;
$sys_color_yellow: #f7d43f;
$sys_color_lightorange: #f5b92e;
$sys_color_orangered: #f77c3f;
$sys_color_grey: rgb(128, 122, 124);
